.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: #faefe0;
  border: 2px solid #faefe0;
  padding: 10px 24px;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-button:hover {
  background-color: #faefe0;
  color: #003135;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
