.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.8rem;
  padding: 6px 10px;
  background-color: transparent;
  color: #faefe0;
  border: 1px solid #faefe0;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  z-index: 1000;
  width: auto;      
  display: inline-block;
}

.logout-button:hover {
  background-color: #2b565c;
  color: white;
}